.countdownContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 1rem;
	background-color: rgba(78, 78, 80, 0.071);
	padding: 2% 3%;
	border: 2px dotted gold;
}

.countdownImageContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	gap: 1rem;
	background-color: black;
}

.countdownImage {
	width: 30%;
	border-radius: 20px;
	align-self: baseline;
}
.countdownImageBanner {
	width: 70%;
	border-radius: 20px;
}

.countdown {
	margin: 0;
	font-size: 2rem;
}

.countdownTextContainer {
	text-align: center;
}

.countdownTitle,
.countdownText,
.countdownTimerText {
	margin: 0;
	color: black !important;
}

.countdownTitle {
	font-size: 2rem;
	font-weight: 600;
}

.countdownText {
	font-size: 1.25rem;
	font-weight: 500;
	text-align: center;
}

.countdownTimerText {
	color: #000;
	font-size: 1.25rem;
	width: 50px;
	text-align: center;
}

.countdownTimerContainer {
	width: 240px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.countdownTimerTextContainer {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	font: "t-heading-6";
}

@media (max-width: 1791px) {
	.countdown {
		font-size: 2rem;
	}
}

@media (max-width: 1440px) {
	.countdown {
		font-size: 1.5rem;
	}
	.countdownTitle {
		font-size: 1.5rem;
	}
	.countdownTimerText {
		font-size: 1rem;
	}
	.countdownText {
		font-size: 0.9rem;
	}
	.countdownTimerTextContainer {
		column-gap: 15px;
		margin-left: 3px;
	}
}

@media (max-width: 400px) {
	.countdown {
		font-size: 1.5rem;
	}
	.countdownTitle {
		font-size: 1rem;
	}
	.countdownTimerText {
		font-size: 0.9rem;
	}
	.countdownText {
		font-size: 0.7rem;
	}
	.countdownTimerTextContainer {
		column-gap: 15px;
	}
}
